* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #00C1E4;
	background-color: #f7f7f7;
}

.jumbotron  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
	background: url("../img/banner.png") top center no-repeat;
	margin-bottom: 10px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron h1 , p{
	color: white;
	width: 100%;
}



.navbar {
	margin-bottom: 0px;
}

.navbar-brand {

}

.media {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.fa {
	margin-left: 30px;
}

.submit {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: #00CBF0;
	height: 20rem;
	color: white;
}

.submitobj {
	width: 200px;
}

.leftsidebar {
	width: 49%;
}

.rightsidebar {
	width: 49%;

}

@media (max-width: 450px){
	.submit{
		height: auto;
	}
	.submitobj{
		width: 48%;
	}
}

@media (min-width: 451px) and (max-width: 769px) {
	.submit {
		height: auto;
	}
}

@media (min-width: 770px) and (max-width:999px ) {
	.submit {
		height: auto;
	}
}

.top
{
	background-color: #131313;
}
.top h1
{
	text-align: center;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}
.bluetitle
{
	color:  #19aad7;
}
.contenttop
{
	color: white;
	margin-bottom: 30px;
}

.img-responsive
{
	height: auto;
	max-width: 100%;
	display:block;
}

.contenttop h3
{
	color: #19aad7;
	text-align: center;
}

.contenttop span
{
	color: #19aad7;
	font-size: 12px;

}
.contenttop span:hover {
	color:white;
	transition-duration: 0.5s;
}
.older
{
	color:#1FA9E6;
	margin-bottom: 10px;

}

.button
{
	text-align: center;
}
.top .button input
{
	font-size:20px;
	border:2px solid #19aad7;
	color:#19aad7;
	width: 250px;
	text-align: center;
	background-color: #131313;
	margin-bottom:10vh;
	padding:8px;
}

.top .button input:hover
{
	background-color:#19aad7;
	color: white;
	border:2px solid white;
	opacity: 0.9;
}

.mainhead
{
	background-color: white;
}
.mainhead h1
{
	margin-bottom: 30px;
}
.news
{
	margin-bottom: 25px;
}
.news .img-responsive
{
	float: left;
	height: auto;
	max-width: 100%;
	display:block;
}
.textblock
{
	padding-left: 170px;
}
.widjet
{
	width: 65%;
	height: 600px;
	position:absolute;
	background-color: #95979a;
}

.h4center{
	margin-top: 200px;
}

.widjet h4{
	text-align: center;
	font-size: 24px;
}

.title h2
{
	font-size:20px;
}
.iconcont
{
	background-color: #95979a;
}
.iconcont h1{
	text-align: center;
	margin-bottom: 30px;

}

.iconimg
{

	width: 55%;
	background-color: #131313;
	max-height: 200px;
	max-width: 200px;
	min-height: 200px;
	min-width: 200px;
	border-radius: 50%;
	text-align: center;
	padding-top: 50px;
	font-size: 36px;
	color: white;

}
.content
{
	margin-bottom: 50px;
}

.footer
{
	background-color: #131313;
	color:white;
}

.footercont h1
{
	margin-top:65px;
}

.footercont p
{
	margin-top: 50px;
	color: white;
	margin-bottom: 50px;
	font-size:12px;
}

.upperbutton
{
	margin-top:65px;
	text-align: center;
}
.footercont .button
{
margin-top: 85px;
}
.footercont .button input
{
	font-size:20px;
	border:2px solid white;
	color:white;
	width: 300px;
	text-align: center;
	background-color: #131313;
	margin-bottom:10vh;
	border-radius: 8px;
	padding:8px;
	font-size:16px;
}
.footercont .button input:hover
{
background-color: white;
color: black;
opacity: 0.9;
}
.end
{
	background-color: black;
}
.end p
{
	margin-top:5px;
	text-align: center;
	color: white;
	font-size:10px;
}
.centercont
{
	margin-bottom: 50px;
}
.how-to-consume {
  margin: 0px;
  padding: 0px;
}

.consume {
  background: #dbdde0;
}

.consume-top h2 {
  margin: 0px;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  color: #333;
  line-height: 0.8em;
}

.consume-top h2 span {
  color: #08b6e6;
}

.consume-top h4 {
  font-weight: bold;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #333;
}

.options {
  padding-top: 20px;
  position: relative;
  width: 90%;
  margin: auto;
}

.option-left, .option-center, .option-right {
  height: 30vh;
}

.icon-num {
  float: left;
}

.option-left p {
  margin-left: 15px;
  float: left;
  color: #2ea3f2;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.img-left-link {
  height: 50px;
  width: 50px;
}

.option-center p {
  margin-left: 15px;
  float: left;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2em;
}

.icon-table {
  width: 68%;
}

.td-right-icon {
  height: 35px;
  width: 100px;
}

.td-left-icon {
  margin-left: 15px;
}

.option-right p {
  margin-left: 15px;
  float: left;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2em;
}

.footer {
  background: black;
}

.footer-left, .footer-left-content {
  position: relative;
  max-width: 550px;
  margin: 30px auto;
  padding-left: 20px;
}

.footer-right {
  margin: 40px auto;
  padding-right: 30px;
}

.footer-left-content div {
  color: white;
}

.footer-left-logo {
  margin-bottom: 30px;
  text-align: center;
}

.footer-logo {
  max-width: 500px;
  max-height: 300px;
}

@media (max-width: 500px) {
	.footer-logo {
		width: 100%;
	}
}

.footer-left-content h5 {
  color: white;
}

.footer-right-content {
  padding-bottom: 20px;
  text-align: center;
}

.footer-right-content h1 {
  color: white;
  font-weight: bold;
}

.footer-right-button {
  text-align: center;
}

.right-btn {
  padding: 0.4em 1.1em;
  border-radius: 3px;
  border: 2px solid;
  text-decoration: none;
  font-size: 22px;
}

.copyright {
  margin: 0px;
  padding: 0px;
  background: #1e211d;
}

.footer-legalese {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-legalese div {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 992px) and (max-width: 1152px) {
  .option {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .option-left {
    margin-right: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 527px) {
  .how-to-consume {
   /* width: 110.5vh;*/
  }
  .footer-left, .footer-left-content {
    padding-left: 5px;
  }
}
.class-4 {
	margin-bottom: 15px;
}
.section-7-8 {
	/*height: 100vh;*/
}
.bluehead{
color:#1EB6E7;
}
.blue{
	font-size: 24px;
	color:#1EB6E7;
}
.marg{
	padding-left: 10px;
}
.main{
	display: flex;
	justify-content: center;
}

@media (max-width: 1000px){
.section_5{
display:flex ;
flex-wrap: wrap;
margin-bottom: 50px;
/*width:1000px;*/
/*height: 650px;*/
}

.row1 {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.row2 {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.block {
	margin: 20px;
}

.block1 {
	margin: 20px;
}
}
/*.block{
	align-content: space-around;
   height: 270px;
	width: 200px;
	margin: auto;
}
.block1{
	align-content: space-around;
  	height: 200px;
	width: 200px;
	margin-top: 35px;
	padding-left: 40px;
}*/

@media (min-width: 1001px) {
	.section_5{
display:flex ;
flex-wrap: wrap;
margin-bottom: 50px;
/*width:1000px;*/
/*height: 650px;*/
}

.row1 {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	/*flex-wrap: wrap;*/
}

.row2 {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	/*flex-wrap: wrap;*/
}

.block {
	margin: 20px;
}

.block1 {
	margin: 20px;
}
}